<div class="col-md-12">
  <div class="row box">
    <div class="box-inner col-md-6 col-md-offset-3">
      <h1 class="title">从全栈营毕业后<br>到底能找到什么样的工作？</h1>
      <p class="slogan">什么，这是真的？
        <br>
        希望能让大家了解真实的求职信息
        <br>
        做大家的职场加油站
      </p>
      <p class="lead">
        <%= link_to '马上应征', jobs_path, class: 'btn btn-danger' %>
      </p>
    </div>
  </div>
</div>

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">你了解自己吗？</h2>
        <p class="lead">有什么样的优势？<br>适合做什么？<br>这里有最专业的职业兴趣测验<br><a target="_blank" href="http://www.apesk.com/holland2/">马上测试</a></p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">求职加油站</h2>
        <p class="lead">公司如何选？<br>简历如何写？<br>快来看看大牛教你如何找到好工作！<br><a target="_blank" href="http://blog.niclin.tw">Nic 的 Blog</a>! 啦啦啦啦啦啦啦</p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">这些坑一定不能进！</h2>
        <p class="lead">看看学长学姐找工作遇到过哪些坑？<a target="_blank" href="https://forum.qzy.camp/">论坛资源</a></p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>
