<div class="col-md-12">
  <div class="row box">
    <div class="box-inner col-md-6 col-md-offset-3">
      <h1 class="title">从全栈营毕业后<br>到底能找到什么样的工作？</h1>
      <p class="slogan">什么，这是真的？
        <br>
        希望能让大家了解真实的求职信息
        <br>
        做大家的职场加油站
      </p>
      <p class="lead">
        <%= link_to '马上应征', jobs_path, class: 'btn btn-danger' %>
      </p>
    </div>
  </div>
</div>
